{% extends 'homepage/base.html'%}

{% block cssblock %}
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}"> 

    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">  {% endcomment %}

{% endblock %}
{% block contentblock %}
<div class="middel">
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
          {% endfor %}
      </ul>
    {% endif %}
    <form class="form" action="{% url 'contact:view_contact' %}" method="post">
        {% csrf_token %}
        <h2 class="form__ct">CONTACT US</h2>
        <p type="Name:">{{ct.name}}</p>
        <p type="Email:">{{ct.mail}}</p>
        <p type="Message:">{{ct.content}}</p>
        <input type="submit" value="Send" id="submit">
        <div>
          <span class="fa fa-phone"></span>001 1023 567
          <span class="fa fa-envelope-o"></span> contact@company.com
        </div>
      </form>
</div>
{% endblock %}
    {% block jsblock %}
    {% endblock %}