/* product */

.lv-header__main-nav .lv-header-main-nav {
    height: 100%;
}
[dir] .lv-list {
    margin: 0;
    padding: 0;
}

.lv-header-main-nav {
    display: flex;
    justify-content: center;
    z-index: 7;
}
.lv-list {
    list-style: none;
}
.lv-header-main-nav li{
padding-right: 2rem;
}
#thumbnail{
    width: 15rem;
    margin-left: 3.4rem; 
    margin-top: -2rem;
}
.lv-list .category input{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgb(5, 5, 5);
    cursor: pointer;
}
.lv-list .category input:hover{
    color: coral;
}
