@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    user-select: none;
}
header{
    position: absolute;
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
}
.content{
    width: 100%;
    padding-top: 5rem;
    z-index: 8;

}
.logo img{
    border-radius: 50%;
}
#logo1{
    font-size: 1.1rem;
    font-family: cursive;
    padding-left: 0;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.1rem;
    font-weight: 400;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight:400;
}
h6{
   color: #d8d8d8; 
}
button{
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 12px 30px;
    transition:0.3s ease;
    text-transform: uppercase;
}
button:hover{
    background-color: #3a3833;
}
.navbar{
    font-size: 16px ;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}
#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: black;
}
#bar:hover,
#bar.active{
    color: #fff;
}
@media screen and (max-width:991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: coral;
    }

    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        color: #fff;
    }
    #navbarSupportedContent > ul{
        margin: 1rem;
        text-align: right;
    }
    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
}
/* navbar for mobile */
.navbar-light .navbar-toggerler{
    border: none;
    outline: none;

}
.navbar-light .navbar-nav .nav-link{
    padding:0 20px;
    color: black;
    transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar {
    color: coral;
}
.navbar i{
    font-size: 1.2rem;
    padding:0 2px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}
#home span{
    color: coral;
    margin-top: 0;
}
#home{
    background-image: url("../images/backg.png");
    width: 100%;
    height: 100vh;
    background-position: top center ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    user-select: none;
}

#brand{
    margin-top: 3rem;
    user-select: none;
}
.row img{
    object-fit:contain;
    width: 7rem;
}
.Featured{
    list-style-type: none;
}
footer{
    background-color: #222222;
    color: #fff;
    position:absolute;
    width: 100%;
}
footer h5{
    margin-top: 2rem;
    color:#d8d8d8;
    font-weight: 700;
    font-size: 1rem;
}
footer li a{
    font-size: 0.85rem;
    color: #999;
}
footer li a:hover{
    color:#d8d8d8;
}
footer p{
    font-size: 0.85rem; 
    color: #999; 
    user-select: text;
}
footer h6{
    font-size: 0.85rem; 
    color:rgb(204, 192, 192);  
    margin-bottom: 0;
}
.name-footer{
    font-size: 2rem;
}
.copyright p{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
}
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}
.row{
    padding-left: 2rem;
    width: 100%;
}
.all_products{
    width: 100%;
    padding-left: 1rem;
}
row .thumbnail{
    padding-left: 2rem;
}
#logofooter{
    width: 3rem;
}
